<header>
    <ul class="nav navbar-top-links bg-dark navbar-left" style="display: flex">
        <div class="col-sm-2 nameCompany">
            <a class="nameCompany"><mat-icon style="margin-right: 5px;">book</mat-icon><span>    TMA EntranceTest</span></a>
        <!-- <div class="topnav">         
          <a >Analyse</a>
          <a >Examination</a>         
        </div> -->
        </div>
        <div class="inputSearch" tabindex="1">
<!--                <input class="form-control-dark w-100" type="text" placeholder="Search..." aria-label="Search">     
 -->        </div>
        <div class="myAccount">
            <button mat-button [matMenuTriggerFor]="menu"><mat-icon>person</mat-icon>  My Account</button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>User Profile</button>
              <button mat-menu-item>Settings</button>
              <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>    
    </ul>
</header>