<h1 mat-dialog-title> Export question list</h1>
<div mat-dialog-content style="min-height: 300px; min-width: 700px;">
	<mat-tab-group>
	  <mat-tab label="Information">
	  	<br>
	    <mat-form-field class="input-form">
	  		<input matInput placeholder="Please input the technical" type="text" [(ngModel)]="data.technical" required>
	 	</mat-form-field>
	  	<mat-form-field class="input-form">   
	    	<input matInput placeholder="Please input the interview name" type="text" [(ngModel)]="data.interviewName">
	  	</mat-form-field>
	  	<mat-form-field class="input-form">   
	    	<input matInput placeholder="Please input the description for interview" type="text" [(ngModel)]="data.description" >
	  	</mat-form-field>
	  </mat-tab>
	  <mat-tab label="Custom question">	  	
	  	<!-- <br>
	  	<h6>
	  		Multiple Answer:
	  	</h6>
     	<section class="level-section">
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 1" [(ngModel)]="level1">
	      	</mat-form-field>
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 2" [(ngModel)]="level2">
	      	</mat-form-field>
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 3" [(ngModel)]="level3">
	      	</mat-form-field>
		</section>	
		<br>
		<h6>
	  		Single Answer:
	  	</h6>
     	<section class="level-section">
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 1" [(ngModel)]="level1">
	      	</mat-form-field>
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 2" [(ngModel)]="level2">
	      	</mat-form-field>
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 3" [(ngModel)]="level3">
	      	</mat-form-field>
		</section>	
		<br>
		<h6>
	  		Short question:
	  	</h6>
     	<section class="level-section">
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 1" [(ngModel)]="level1">
	      	</mat-form-field>
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 2" [(ngModel)]="level2">
	      	</mat-form-field>
	      	<mat-form-field class="level-margin">
	        	<input matInput type="number" placeholder="Level 3" [(ngModel)]="level3">
	      	</mat-form-field>
		</section>	
		<br> -->
	  </mat-tab>
	</mat-tab-group>	
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>