<div class="sidebar-sticky">
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Management</span>              
  </h6>
  <ul class="nav flex-column side-menu">
    <li class="nav-item" *ngFor="let table of tables" [class.selected]="table === selectedTable" (click)="onSelect(table)">
      <a class="nav-link active">
        <i class="fa fa-dashboard fa-fw"></i>
          <span> {{table.tableName}} </span>
      </a>
    </li>               
  </ul>

  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>File</span>              
  </h6>
  <ul class="nav flex-column mb-2 side-menu">
    <button mat-button class="text-left" (click)="openQuestionList()"> <i class="fa fa-download fa-fw"></i> <span> Export Question List </span>
    </button>
<!--     <button mat-button class="text-left" (click)="openAnswerList()"> <i class="fa fa-download fa-fw"></i> Export Answer List</button>   
 --><button mat-button class="text-left" (click)="openImportData()"> <i class="fa fa-upload fa-fw"></i> <span>Import data </span></button>      
  </ul>
</div>