.side-menu li{
    cursor: pointer;
}
.side-menu li:hover{
    background-color: #e6e6e6;
}

.side-menu span{
	white-space: pre-wrap;
}
.selected {
  background-color: #CFD8DC !important;
  color: #007bff;
}