.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  overflow: auto;
}

.mat-table {
  height: 800px;
  overflow: scroll;
}

.toolBar{
	background-color: rgb(229, 229, 229);
	margin-right: 0;
	margin-left: 0;

}

.button-row button{
	margin-right: 5px;
}