<div [formGroup]="form">
  <!-- <label [attr.for]="entity.key">{{entity.label}}</label> -->
 
  <div [ngSwitch]="entity.controlType">  
    <mat-form-field>         
      <input matInput *ngSwitchCase="'textbox'" placeholder="{{entity.label}}" [formControlName]="entity.key"
            [id]="entity.key" [type]="entity.type">

      <mat-select *ngSwitchCase="'dropdown'" placeholder="{{entity.label}}" [id]="entity.key"  [formControlName]="entity.key">
        <mat-option *ngFor="let opt of entity.options" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>   
  </div> 
 
  <div class="errorMessage" *ngIf="!isValid">{{entity.label}} is required</div>
</div>