<app-header></app-header>
<div class="row content">
	<div class="col-sm-2 sidenav">
	  <app-sidemenu (tablePicked)="changeTable($event)" (skillPicked)="changeSkill($event)" ></app-sidemenu>
	</div>

	<div class="col-sm-10 scrollbar scrollbar-primary">
	    <app-tabledetail tableName={{tableName}} skillName={{skillName}}></app-tabledetail>
	</div>
</div>

<!-- <footer class="nav navbar-bottom-links bg-dark navbar-left">
  <p style="margin: 0 auto; text-align: center;">© 2018 Phuc Pham</p>
</footer> -->